.loading {
  transform: rotate();

  width: calc(var(--list-height) - 4rem);
  height: calc(var(--list-height) - 4rem);
  margin: 2rem auto;

  background-image: url("../../assets/ring.png");
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: rotation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: var(--content-height);
  padding: 1rem;

  color: var(--main-color);
}

.cards__list {
  width: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  grid-gap: 2rem;

  height: var(--list-height);
  margin: 0;
  padding: 2rem;

  list-style-type: none;
}

.cards__searchEmpty,
.cards__serverError {
  width: calc(var(--list-height) / 9 * 16);
  height: var(--list-height);
  margin: 3rem auto;

  background-image: url("../../assets/nothing_found.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.cards__serverError {
  background-image: url("../../assets/server_error.jpg");
}

@media (max-width: 960px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media (max-width: 420px) {
  .main__container {
    padding: 0.5rem;
  }
  
  .cards__list {
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fit, 250px);
  }
}