.login__form {
  display: flex;
  flex-direction: column;

  width: 30rem;
  margin: 0 auto;
  padding: 0 1rem;

  color: var(--main-color);
}

.login__input,
.login__button {
  padding: 0.5rem;

  font-size: 2rem;
  color: var(--main-color);

  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  outline: none;
}

.login__input::placeholder {
  color: var(--main-color);
}

.login__label {
  display: flex;

  font-size: 2rem;
}

/* ------------------------ */

.login__label_date {
  position: relative;

  padding: 0.6rem;

  font-size: 2rem;
}

.login__date {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: auto;

  font-family:
    tangerine,
    cursive;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);

  opacity: 0;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  outline: none;
}

.login__date_button {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-image: url("../../assets/humans.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 50%;
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  outline: none;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;

  box-shadow: 0 0 1rem var(--main-color);
}

/* ------------------------ */

.login__select {
  width: 70%;
  margin-left: auto;
  padding: 0.45rem;

  font-family:
    tangerine,
    cursive;
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);

  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  outline: none;
}

.login__select_option {
  background-color: #000;
}

/* ------------------------ */

.login__fieldset {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  margin: 0;
  padding: 0.1rem;

  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
}

.login__legend {
  font-size: 2rem;
}

.login__input_radio {
  position: absolute;
  z-index: -1;

  opacity: 0;
}

.login__radio_span {
  user-select: none;

  display: flex;
  align-items: center;

  font-size: 1.5rem;
}

.login__radio_span::before {
  content: "";

  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;

  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5rem;

  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  outline: none;
}

.login__input_radio:checked + .login__radio_span::before {
  content: "✓";

  padding-left: 0.5rem;

  font-size: 1.5rem;
}

/* ------------------------ */

.login__range {
  display: flex;
}

.login__range_label {
  font-size: 2rem;
}

.login__range_wrapper {
  display: flex;
  flex-direction: column;

  width: 15rem;
  margin-left: auto;
}

.login__range_input {
  background-color: #000;
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  outline: none;

  appearance: none;
}

.login__range_input::-webkit-slider-thumb {
  width: 5rem;
  height: 2rem;

  background-color: var(--main-color);
  border-radius: 1rem;

  appearance: none;
}

.login__range_datalist {
  display: flex;
  justify-content: space-between;

  margin: 0 1rem -1rem 0.5rem;

  font-size: 2rem;
}

.login__range_option {
  padding: 0;
}

/* ------------------------ */

.login__label_file {
  display: flex;

  width: 100%;
  padding: 1rem;

  font-size: 2rem;

  background-image: url("../../assets/fone2.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border: 2px solid var(--main-color);
  border-radius: 0.5rem;
  outline: none;
}

.login__file_img {
  height: 3rem;
  padding-left: 3rem;
}

.login__file_input {
  display: none;
}

/* ------------------------ */

.login__button:disabled {
  color: #808080;

  border: 2px solid #808080;
}

.login__input:hover,
.login__button:not(:disabled):hover,
.login__select:hover,
.login__label_file:hover,
.login__range_input:hover,
.login__range_input::-webkit-slider-thumb:hover,
.login__input_radio:not(:disabled, :checked) + .login__radio_span:hover::before {
  cursor: pointer;

  box-shadow: 0 0 1rem var(--main-color);
}

/* ------------------------ */

.login__error {
  height: 2rem;

  font-size: 1.5rem;
  color: #df2b2b;
}

/* ------------------------ */

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  padding: 0;
}

@media (max-width: 420px) {
  .login__form {
    width: 22rem;
  }

  .login__input,
  .login__button,
  .login__label,
  .login__label_date,
  .login__range_label,
  .login__select,
  .login__legend,
  .login__range_datalist,
  .login__label_file,
  .login__date {
    font-size: 1.5rem;
  }

  .login__label_file {
    background-size: 120%;
  }
}