@font-face {
  font-family: Tangerine;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Tangerine-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Tangerine;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Tangerine-Bold.woff2") format("woff2");
}

:root {
  --main-color: #f08c1e;
  --header-height: 5rem;
  --pagination-height: 6rem;
  --search-height: 4rem;
  --main-height: calc(100vh - var(--header-height));
  --list-height: calc(var(--main-height) - var(--search-height) - var(--pagination-height) - 6rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: Tangerine, cursive;
}

body {
  overflow-y: scroll;

  margin: 0;

  background-color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  pointer-events: none;

  border-bottom: 2px solid var(--main-color);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50%;
}

@media (max-width: 600px) {
  :root {
    --pagination-height: 10.5rem;
    --search-height: 8rem;
  }
}

@media (max-width: 420px) {
  :root {
    --list-height: calc(var(--main-height) - var(--search-height) - var(--pagination-height) - 4rem);
  }
}